:root {
    font-family: 'Fira Sans', sans-serif;
}

header {
    background-color: #111111;
}

.header__image {
    padding: 0 2rem 2rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.navegation__list {
    display: flex;
    align-items: center;
}

.navegation__item--link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

main {
    /*background: linear-gradient(#000000, #DCDCDC, #000000);*/
    background: #FEFEFE;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about__image {
    width: 65%;
    margin: 3rem;
}

.about__title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.trailer {
    display: none;
}

footer {
    background: #111111;
    display: flex;
    justify-content: space-around;
}

.footer__image {
    width: 25%;
    padding: 1.5rem;
    margin: 2rem;
}